

path.brezli_arrow {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

path.brezli_arrowBorder {
    stroke: black;
    /* arrowWidth + 2*borderWidth */
    stroke-width: 4;
}

path.brezli_arrowStroke {
    stroke: white;
    /* arrowWidth */
    stroke-width: 2;
}

circle.brezli_knot {
    stroke: black;
    /* borderWidth */
    stroke-width: 1
}

path.brezli_thread {
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

path.brezli_threadBorder {
    /* threadWidth + 2*borderWidth */
    stroke-width: 10;
    stroke: black;
}

path.brezli_threadStroke {
    /* threadWidth + 2*borderWidth */
    stroke-width: 8;
}
